{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- <div class="container h-100">
        <div class="row h-100">
            <div class="col-12" col-md-10 my-auto>
                <h1 class="text-uppercase">Expl</h1>
                <div>
                    <h4>
                        <a href="" class="btn btn-lg shop-now-button text-uppercase py-2">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div> -->

{% endblock %}