{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Hero Jumbotron -->
<div class="container-fluid header-container">
    <div class="row">
        <div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <div id="jumbotron-hero" class="jumbotron jumbotron-fluid text-left text-white mb-3">
                <div class="jumbotron-inner my-2">
                    <h1 class="display-5 font-weight-bold">Staycation Collection!</h1>
                    <h4 class="my-3 mx-2">Create the most memorable moments at home.</h4>
                    <p class="mb-5">
                        <a class="btn btn-lg border-black shop-now-button text-uppercase py-2 px-3 mx-auto"
                            href="{% url 'products' %}" role="button">Shop Now</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Card Jumbotrons -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 px-0">
            <div class="row mx-auto">
                <div class="col-sm-12 col-md-6">
                    <div class="d-flex justify-content-center align-items-end jumbotron jumbotron-fluid
                            jumbotron-left mb-sm-0 mr-auto">
                        <p>
                            <a href="{% url 'products' %}?category=new_in"
                                class="btn btn-lg border-black jumbotron-btn product-btn text-uppercase px-2 py-2">New In
                            </a>
                        </p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="d-flex justify-content-center align-items-end jumbotron jumbotron-fluid jumbotron-right mb-sm-0 ml-auto">
                        <p>
                            <a href="{% url 'products' %}?category=bestsellers"
                                class="btn btn-lg border-black jumbotron-btn product-btn text-uppercase px-2 py-2">Bestsellers
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Owl Card Slider -->
<div class="container text-center">
    <h2 class="logo-font mt-5 mb-3">Handpicked Favourites</h2>
    <div class="carousel-wrap">
        <div class="row">
            <div class="col-md-10 offset-md-1 mt-3">
                {% include 'includes/owl-carousel.html'%}
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<div class="container-fluid mt-5">
    <footer>
        {% include 'includes/footer.html' %}
    </footer>
</div>

{% endblock %}
