html {
    height: 100%;
}

body {
    font-family: 'Noto Sans', sans-serif;
    height: calc(100vh - 164px);
}
.container-fluid {
    padding: 0;
    margin: 0;
}
#topnav {
    background: #fff;
}

.card-hero {
    background: url('/media/hero-image.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 800px;
    width: 100%;

}
.shop-now-button,
.btn-black {
    background: black;
    color: white;
}
.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: white;
    color: black;
}
.border-black {
    border: 1px solid black !important; 
}
.text-black {
    color: #000 !important;
}

.logo-font {
    color: black;
    text-transform: uppercase;
}
.bg-banner {
    background: #AAC0AF !important;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}
.dropdown-toggle::after {
    content: none;
}


/*------ Media Queries -----*/

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
/* 
    .header-container {
        padding-top: 164px;
    } */
}