html {
    height: 100%;
}
body {
    font-family: 'Noto Sans', sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
}
.container-fluid {
    padding: 0;
    margin: 0;
}
#topnav {
    background: #fff;
}
#jumbotron-hero {
    position: relative;
    background: url('/media/hero.jpg') no-repeat center center;
    background-size: cover;
    height: 650px;
    width: 100%;
}
.jumbotron-inner {
    position: absolute;
    top: 50%;
    left: 5%;
}
.jumbotron-left {
    background: url('/media/cali.jpg') no-repeat center center;
    background-size: cover;
    height: 500px;
    width: 100%;
}
.jumbotron-right {
    background: url('/media/surf.jpg') no-repeat center center;
    background-size: cover;
    height: 500px;
    width: 100%;
}

.shop-now-button,
.btn-black {
    background: black;
    color: white;
    /* min-width: 260px; */
}
.header-right {
    padding: 0;
}
.product-btn {
    background: black;
    color: white;
    display: inline-block;
    cursor: pointer;
    min-width: 260px;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus,
.product-btn:hover,
.product-btn:active,
.product-btn:focus {
    background: white;
    color: black;
}
.border-black {
    border: 1px solid black !important; 
}
.text-black {
    color: #000 !important;
}

.logo-font {
    color: black;
    text-transform: uppercase;
}
.bg-banner {
    background: #118592 !important;
}
.navbar-brand {
    height: 4rem;
    /* width: 10rem; */
    object-fit: contain;
    vertical-align: center;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.dropdown-toggle::after {
    content: none;
}
.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}
a.category-badge>span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}
.btt-button {
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 12px;
    right: 12px;
    z-index: 100;
    text-decoration: none;
    color: #fff;
}

.btt-link,
.update-link, 
.remove-item {
    cursor: pointer;
}

.update-link,
.remove-item {
    text-decoration: none;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* ------------------------------- bootstrap toasts */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.nav-link {
    padding: 10px;
}


/*-- Footer --*/
#footer {
    width: 100%;
    height: auto;
    bottom: 0;
    padding: 0;
    margin-top: 3rem;
    text-align: center;
    background-color: #ebebeb;

}

.footer-copyright {
    min-width: 100%;
    background-color: #d6d6d6;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
}
.social-links {
    text-decoration: none;
}
.fa-facebook {
    color: #3b5998;
} 
.fa-twitter {
    color: #00aced;
}
.fa-instagram {
    color: #517fa4;
}
.fa-pinterest {
    color: #cb2027;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover,
.fa-pinterest:hover {
    opacity: 0.7;
    transition: 0.3s;
    transform: translateY(-4px);
}
.fa-star {
    color: #ff9529;
}

/* --- Image Thumbnail --*/
.img-thumbnail {
    height: auto;
    width: 8rem !important;
    padding: 0.6rem;
    border: 1px solid black;
    border-radius: 0%;
}

/*-- Carousel-owl --*/

.carousel-card {
    border-radius: 10px;
    border: none;
}
.owl-card-body {
    height: 120px;
    border: #fff;
}

.carousel-wrap {
    margin: auto;
    position: relative;
}

.owl-carousel .owl-nav {
    overflow: hidden;
    height: 0px;
}

.owl-theme .owl-dots .owl-dot.active,
.owl-theme .owl-dots .owl-dot:hover{
    background: #118592;
}

.owl-carousel .nav-btn {
    height: 47px;
    position: absolute;
    width: 26px;
    cursor: pointer;
    top: 140px !important;
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
    pointer-events: none;
    opacity: 0.2;
}

.owl-carousel .prev-slide {
    background: url(https://freakyjolly.com/demo/jquery/OwlCarousel2/nav-icon.png) no-repeat scroll 0 0;
    left: -33px;
}

.owl-carousel .next-slide {
    background: url(https://freakyjolly.com/demo/jquery/OwlCarousel2/nav-icon.png) no-repeat scroll -24px 0px;
    right: -33px;
}

.owl-carousel .prev-slide:hover {
    background-position: 0px -53px;
}

.owl-carousel .next-slide:hover {
    background-position: -24px -53px;
}
.owl-card-img {
    height: 15rem !important;
    width: 10rem !important;
    object-fit: cover;
    padding: 0.8rem;
    border: 2px solid black !important;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}
.fa-shopping-cart {
    position: relative;
}
/* .badge-pill {
    position: absolute;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}
.bag-pill-mob {
    width: 14px;
    height: 16px;
    top: 10px;
    right: 16px;
}
/* .wishlist-pill-mob {
    width: 14px;
    height: 16px;
    top: 10px;
    right: 16px;
} */
.bag-pill-lg {
    width: 16px;
    height: 16px;
    top: 10px;
    right: 5px;
} 
/* .wishlist-pill-lg {
    width: 16px;
    height: 16px;
    top: 2px;
    right: 42px;
} */
.subtitle {
    background-color: #eeeeee;
}


/*---------------- Media Queries -----------------*/

/* Extra (xl) large devices (large desktops)*/ 

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
    .product-card {
        width: 80%;
    }
}

/* Allauth form formatting */
.allauth-form-inner-content p {
    margin-top: 1.5rem;
    /* mt-4 */
    color: #6c757d;
    /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
    color: #17a2b8;
    /* text-info */
}


/* Large (lg) devices (desktops) */

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    .header-container {
        padding-top: 160px;
    }

    #jumbotron-hero {
        margin-top: 20px !important;
    }
    .review-img {
        height: 18rem !important;
        width: 12rem !important;
    }
    
}
/* Medium (md) devices (tablets) */
@media (min-width: 768px) {
    
}

/* Small (sm) devices (landscape phones) */
@media (min-width: 576px) {
    .product-card {
        height: 21rem;
        padding: 0.8rem;
        border: 2px solid black !important;
    }

    .product-view-img {
        max-height: 32rem !important;
        width: fit-content;
        max-width: 20rem;
        object-fit: cover;
        padding: 1rem;
        border: 2px solid black !important;
    }
}

/* Extra small (xs) devices (landscape phones) */
@media (max-width: 576px) {

    #jumbotron-hero {
        height: 450px;
    }
    .jumbotron-inner {
        top: 30%;
        left: 5%;
        right: 5%;
    }
    .jumbotron-left,
    .jumbotron-right {
        height: 400px;
    }
    .product-card {
        width: 18rem !important;
        height: 25rem;
        object-fit: cover;
        padding: 1rem;
        border: 2px solid black !important;
    }
    .owl-card-img {
        height: 25rem !important;
        width: 18rem !important;
    }

    .hamburger {
        width: 25px;
        height: 35px;
    }

    .navbar-toggler {
        font-size: 1rem;
    }

    .product-view-img {
        max-height: 28rem !important;
        max-width: 18rem;
        object-fit: cover;
        padding: 1rem;
        border: 2px solid black !important;
        text-align: center;
    }

    .img-thumbnail {
        height: auto;
        padding: 0.6rem;
        border: 1px solid black;
    }
       
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 120px;
    }

    body {
        height: calc(100vh - 120px);
    } 
    .product-btn {
       margin-top: -20px;
       min-width: 200px;
    }
    .hamburger {
        position: relative;
        width: 30px;
        height: 40px;
        overflow: hidden;
        color: #000;
    }
    .navbar-toggler {
        font-size: 1.2rem;
        background-color: transparent;
        border: none;
    }
    .image-container {
        text-align: center !important;
    }
    .review-img {
        height: 16rem !important;
        width: 10rem !important;
    }
}