<div id="footer">
    <!-- Footer -->
    <div class="page-footer font-small indigo">
        <div class="container">
            <div class="row text-center d-flex justify-content-center pt-5 mb-3">
                <div class="col-md-3 mb-3">
                    <h6 class="footer-info">
                        Free shipping over £29
                    </h6>
                </div>
                <div class="col-md-3 mb-3">
                    <h6 class="footer-info">
                        Fast and reliable delivery
                    </h6>
                </div>
                <div class="col-md-3 mb-3">
                    <h6 class="footer-info">
                        Safe payments
                    </h6>
                </div>
                
            </div>
            <hr class="rgba-white-light w-60 m-2">
            <div class="row d-flex text-center footer-about justify-content-center mb-md-0 mb-4">
                <div class="col-md-8 col-12 mt-5">
                    <p>Discover our selection of high-quality yet affordable posters. 
                        We have posters to suit every taste and every space and interior.
                        We use sustainable certified 300gr paper and sustainable ink.
                    </br>
                        Dream. Create. Live. 
                    </p>
                </div>
            </div>
            <hr class="clearfix d-md-none rgba-white-light w-60 m-2">
            <div class="row pb-3">
                <div class="col-md-12">
                    <div class="mb-5 flex-center">
                        <a class="fb-ic" target="_blank">
                            <i class="fab fa-facebook-f fa-lg white-text mr-4" aria-hidden="true"></i><span
                                class="sr-only">Facebook</span>
                        </a>
                        <a class="tw-ic" target="_blank">
                            <i class="fab fa-twitter fa-lg white-text mr-4" aria-hidden="true"></i><span
                                class="sr-only">Twitter</span>
                        </a>
                        <a class="ins-ic" target="_blank">
                            <i class="fab fa-instagram fa-lg white-text mr-4" aria-hidden=" true"></i><span
                                class="sr-only">Instagram</span>
                        </a>
                        <a class="pin-ic" target="_blank">
                            <i class="fab fa-pinterest fa-lg white-text" aria-hidden="true"></i><span
                                class="sr-only">Pinterest</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2021 Copyright Nazee Kadiu</div>
    </div>
</div>