<!-- <div id="footer">
    Footer
    <div class="page-footer font-small">
        <div class="container">
            <div class="row text-center d-flex justify-content-center pt-3 my-3">
                <div class="col-md-3 mb-3">
                    <i class="fas fa-truck fa-2x pb-3"></i>
                    <h6 class="footer-info">
                        Free shipping over £29
                    </h6>
                </div>
                <div class="col-md-3 mb-3">
                    <i class="fas fa-box fa-2x pb-3"></i>
                    <h6 class="footer-info">
                        Fast and reliable delivery
                    </h6>
                </div>
                <div class="col-md-3 mb-3">
                    <i class="fas fa-credit-card fa-2x pb-3"></i>
                    <h6 class="footer-info">
                        Safe payments
                    </h6>
                </div>
                
            </div>
            <hr class="w-60 text-dark m-2">
            <div class="row d-flex text-center footer-about justify-content-center mb-md-0 mb-4">
                <div class="col-md-8 col-12 mt-3">
                    <p>Discover our selection of high-quality and affordable posters to suit every taste and every interior.
                    </br>
                        Dream. Create. Live. 
                    </p>
                </div>
            </div>
            <hr class="clearfix d-md-none text-dark w-60 m-2">
            <div class="row">
                <div class="col-md-12">
                    <ul class="social-links list-unstyled list-inline text-center mt-2 mb-4 flex-center">
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com" target="_blank">
                                <i class="fab fa-facebook fa-2x mr-4" aria-hidden="true"></i><span
                                    class="sr-only">Facebook</span>
                            </a>
                        </li>
                        <li class="list-inline-item"></li>
                            <a href="https://www.twitter.com" target=" _blank">
                                <i class="fab fa-twitter fa-2x mr-4" aria-hidden="true"></i><span
                                    class="sr-only">Twitter</span>
                            </a>
                        </li>
                        <li class="list-inline-item"></li>
                            <a href="https://www.instagram.com" target="_blank">
                                <i class="fab fa-instagram fa-2x mr-4" aria-hidden=" true"></i><span
                                    class="sr-only">Instagram</span>
                            </a>
                        </li>
                        <li class="list-inline-item"></li>
                            <a href="https://www.pinterest.co.uk" target="_blank">
                                <i class="fab fa-pinterest fa-2x" aria-hidden="true"></i><span
                                    class="sr-only">Pinterest</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

         Copyright -->
        <!-- <div class="footer-copyright text-center py-3">© 2021 Copyright Nazee Kadiu</div>
    </div>
</div> 

