<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link dropdown-toggle text-black mr-5" href="#" id="posters-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Posters
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="posters-link">
                <a href="" class="dropdown-item">All Posters</a>
                <a href="" class="dropdown-item">Animals</a>
                <a href="" class="dropdown-item">Nature</a>
                <a href="" class="dropdown-item">Black and White</a>
                <a href="" class="dropdown-item">Abstract</a>
                <a href="" class="dropdown-item">Kids</a>
                <a href="" class="dropdown-item">Fashion</a>
                <a href="" class="dropdown-item">Frames</a>

            </div>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="newIn-link">
                New In
            </a>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="bestsellers-link">
                Bestsellers
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold dropdown-toggle nav-link text-black mr-5" href="#" id="all-products-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>
    </ul>
</div>
