<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="posters-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Posters
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="posters-link">
                <a href="" class="dropdown-item">All Posters</a>
                <a href="" class="dropdown-item">Abstract</a>
                <a href="" class="dropdown-item">Animals</a>
                <a href="" class="dropdown-item">Nature</a>
                <a href="" class="dropdown-item">Black and White</a>
                <a href="" class="dropdown-item">Kids</a>
                <a href="" class="dropdown-item">Fashion</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="newIn-link">
                New In
            </a>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="bestsellers-link">
                Bestsellers
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="frames-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Frames
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="frames-link">
                <a href="" class="dropdown-item">Black Frames</a>
                <a href="" class="dropdown-item">White Frames</a>
                <a href="" class="dropdown-item">Oak Frames</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="getInspired-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Get Inspired
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Kitchen</a>
                <a href="" class="dropdown-item">Bedroom</a>
                <a href="" class="dropdown-item">Living Room</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>
    </ul>
</div>
