<!-- Handpicked Favourites owl-carousel cards -->
<div class="owl-carousel owl-theme">
    {% for item in pool %}
    <div class="item mx-2">
        <div class="card carousel-card mx-auto my-2">
            {% if item.image %}
            <a href="{% url 'product_detail' item.id %}">
                <img class="card-img-top owl-card-img img-fluid mx-auto" src="{{ item.image.url }}"
                    alt="{{ item.name }}">
            </a>
            {% else %}
            <a href="{% url 'product_detail' item.id %}">
                <img class="card-img-top owl-card-img img-fluid mx-auto" src="{{ MEDIA_URL }}noimage.png"
                    alt="{{ item.name }}">
            </a>
            {% endif %}
            <div class="card card-body owl-card-body mx-2 pb-0">
                <h6 class="card-title text-left mb-0">{{ item.name }}</h6>
                <p class="lead mt-3 mb-0 text-left font-weight-bold">£{{ item.price }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
