<!-- Product reviews -->
<div class="row mx-auto mt-5">
    <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2">
        
        <div class="subtitle logo-font font-weight-bold m-2 p-3">
            <h5>Review Snapshot</h5>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </div>
        <hr>
        {% if reviews %}
            <div class="row">
                {% for review in reviews %}
                <div class="col-12">
                    <div class="review-notification px-2">
                        <h5 class="text-center font-weight-bold"></i>{{ review.rating }} / 5
                            {{ review.headline }}
                        </h5>
                        <p class="text-left">{{ review.comments }}</p>
                        
                        <p class="text-right text-muted">Submitted
                            <strong>{{ review.date_posted|date:"d-M-y" }}</strong></p>
                        <p class="text-right text-muted">By <strong><em>{{ review.user }}</em></strong></p>
                    </div>
                    {% if request.user == review.user or request.user.is_superuser %}
                    <div class="text-right my-2">
                        <a href="{% url 'edit_review' review.pk %}">Edit</a> |
                        <!-- Button trigger modal -->
                        <a class="text-danger" data-toggle="modal" data-target="#delete-review-modal">
                            Delete
                        </a>
                        <!-- Delete review modal -->
                        <div class="modal fade" id="delete-review-modal" tabindex="-1" role="dialog"
                            aria-labelledby="deleteReviewModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title text-black logo-font" id="exampleModalLabel">Delete Review</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body text-black text-left">
                                        <p>Are you sure you want to permanently delete this review?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-black rounded-0"
                                            data-dismiss="modal">Cancel</button>
                                        <a class="btn btn-black rounded-0"
                                            href="{% url 'delete_review' review.pk %}">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <hr>
                </div>
                {% endfor %}
            </div>
        {% else %}
             {% if request.user.is_authenticated %}
             <div class="my-4 review-notification">
                 <p>Write the first review.</p>
             </div>
             {% else %}
            <div class="my-4 review-notification">
                <a href="{% url 'account_signup' %}">Sign up</a>
                or 
                <a class="login-link" href="{% url 'account_login' %}">Log in</a> 
                to write the first review.
            </div>
            {% endif %}
        {% endif %}
                
        <div class="review-notification">
            {% if request.user.is_authenticated %}
            <div class="text-center">
                <a class="btn btn-black rounded-0 my-5" href="{% url 'add_review' product.pk %}">Add A Review</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>