<!-- Product reviews -->
<div class="row">
    <div class="col-10 offset-sm-1 col-md-6 offset-md-3">
        <h3 class="text-center subtitle logo-font m-2 p-3">Review Snapshot</h3>
        <hr>
        {% if reviews %}
            <div class="row">
                {% for review in reviews %}
                <div class="col-12">
                    <div class="review-notification">
                        <h5 class="text-center"><i class="far fa-star"></i>{{ review.rating }} / 5 {{ review.headline }}
                        </h5>
                        {{ review.comments }}
                        
                        <p class="text-right text-muted">Submitted
                            <strong>{{ review.date_posted|date:"d-M-y" }}</strong></p>
                        <p class="text-right text-muted">By <strong>{{ review.user }}</strong></p>
                    </div>
                    {% if request.user == review.user or request.user.is_superuser %}
                    <div class="text-right m-3">
                        <a href="{% url 'edit_review' review.pk %}">Edit</a> |
                        <!-- Button trigger modal -->
                        <a class="text-danger" data-toggle="modal" data-target="#delete-review-modal">
                            Delete
                        </a>
                        <!-- Delete review modal -->
                        <div class="modal fade" id="delete-review-modal" tabindex="-1" role="dialog"
                            aria-labelledby="deleteReviewModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title text-black logo-font" id="exampleModalLabel">Delete Review</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body text-black text-left">
                                        <p>Are you sure you want to permanently delete this review?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-black rounded-0"
                                            data-dismiss="modal">Cancel</button>
                                        <a class="btn btn-black rounded-0"
                                            href="{% url 'delete_review' review.pk %}">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <hr>
                </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="review-notification">
                Write the first review.
            </div>
        {% endif %}
                
        <div class="review-notification">
            {% if request.user.is_authenticated %}
            <div class="text-center">
                <a class="btn btn-black rounded-0 mt-5" href="{% url 'add_review' product.pk %}">Add A Review</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>